[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
django-rest-auth = "*"
django-allauth = "*"
django-jsonfield = "*"
pymysql = "*"
django-ckeditor = "*"
django-rest-knox = "*"
django-filter = "*"
django-cors-headers = "*"
django-storages = "*"
boto3 = "*"
django-ajax-selects = "*"
environment = "*"
djangorestframework-jwt = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
